@import "../../styles/variables";
@import "../../styles/mixins";

.section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 30px;
}

.paragraph {
  font-size: 25px;
  color: $gray;
  line-height: 1.2;
  margin-bottom: 30px;
  width: 90%;
}

.paragraph span {
  color: $primaryColor;
  font-weight: 700;
}

@include tablet-landscape {
  .paragraph {
    font-size: 20px;
  }
}

@include tablet-portrait {
  .paragraph {
    font-size: 18px;
  }
}
